// Colors

$YellowDefault: #FFC024;
$WhiteDefault:  #FAFAED;
$White: #FFFFFF;
$BlueDefault: #1820EF;
$BlackDefault: #000000;
$OrangeDefault: #FF4E42;

$MaxWidthMobile: 980px;
$ImageBackground: '/images/background.png';
$ImageLogo: '/images/logo.png';
$ImageEntregadora: '/images/entregadora.png';
$BalaoAzul: '/images/BalaoAzul.png';
$BalaoAmarelo: '/images/BalaoAmarelo.png';