@font-face {
  font-family: "FonteDefault";
  src: url("/fonts/MPLUSRounded1c-Black.ttf") format("truetype");
}
html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background-color: #FAFAED;
  font-family: "FonteDefault";
  height: 100%;
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
}

li {
  list-style-type: none;
}

@media (max-width: 980px) {
  #container_principal {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-image: url("/images/background.png");
    background-size: cover;
    background-position: center;
    width: auto;
    height: auto;
  }
  .logo {
    width: 125px;
    height: 16px;
    margin-top: 15px;
    background-image: url("/images/logo.png");
    background-size: cover;
    background-position: center;
  }
  #container_capa {
    display: flex;
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    top: 60px;
    right: auto;
    bottom: auto;
    left: auto;
  }
  .circulo-marrom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 231.19px;
    height: 231.19px;
    background: #730000;
    border-radius: 50%;
  }
  .entregadora {
    width: 262.3px;
    height: 269px;
    background-image: url("/images/entregadora.png");
    background-size: cover;
    background-position: center;
  }
  .balaoAzul {
    width: 45.69px;
    height: 50.81px;
    left: 44px;
    background-image: url("/images/BalaoAzul.png");
    background-size: cover;
    background-position: center;
  }
  .balaoAmarelo {
    width: 41.75px;
    height: 95.31px;
    position: relative;
    top: 78px;
    right: 16px;
    bottom: auto;
    left: auto;
    background-image: url("/images/BalaoAmarelo.png");
    background-size: cover;
    background-position: center;
  }
  .letras-amarelas {
    width: 219px;
    height: 54px;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    line-height: 56px;
    /* position: absolute; */
    margin-top: 29px;
    top: 443px;
    right: auto;
    bottom: auto;
    left: auto;
    color: #FFC024;
  }
  .title-go {
    width: 231px;
    height: 100px;
    /* position: absolute; */
    margin-top: 12px;
    top: 552px;
    right: auto;
    bottom: auto;
    left: auto;
    text-align: center;
    font-size: 120px;
    font-weight: 900;
    line-height: 100px;
    color: #FAFAED;
  }
  .description {
    top: 700px;
    right: auto;
    bottom: auto;
    left: auto;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 33px;
    padding: 20px 0px 40px 0px;
  }
  .description::before {
    content: "Enjoy a good ramen in the comfort of \ayour house. Create your own ramen and \a choose your favorite flavour \a combination!";
    white-space: pre-line;
    color: #FAFAED;
  }
  #button_order_now {
    display: none;
  }
  #box {
    flex: 1;
    display: flex;
    background-image: url("/images/backgroundAzul.png");
    background-size: cover;
    background-position: center;
    align-content: center;
    justify-content: center;
  }
  #container_principal_sucess {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  #logo_sucess {
    color: #FF4E42;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    padding: 20px;
  }
  #container_capa_sucess {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding-top: 10px;
  }
  .image-broth-selected_sucess {
    margin: 15px;
    max-width: 500px;
  }
  .title-broth-selected_sucess {
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    color: #FFFFFF;
  }
  .name-broth-selected-sucess {
    width: 270px;
    height: 64px;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    padding: 25px 0px 47px 0px;
    top: 15px;
    right: auto;
    bottom: auto;
    left: auto;
    color: #FFC024;
  }
  #container_body {
    flex-direction: column;
    align-items: center;
    justify-content: normal;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    top: 50px;
    right: auto;
    bottom: auto;
    left: auto;
    height: auto;
  }
  #button_order_container {
    margin: 40px;
  }
  #button_new_order_container {
    padding: 29px;
    display: flex;
    justify-content: center;
  }
  #button_order {
    width: 213px;
    height: 60px;
    border-radius: 50px;
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .button-active {
    background-color: #1820EF;
  }
  .button-disabled {
    background-color: #C5C5C5;
  }
  .text-button-place-order {
    text-align: center;
    font-size: 14px;
    font-weight: 800;
    line-height: 20.79px;
    font-family: "FonteDefault";
    color: #FFFFFF;
    letter-spacing: 1.7799999714px;
    margin-right: 14px;
  }
  #title_select_broth {
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    line-height: 31px;
    color: #000000;
    padding: 20px;
  }
  #subtitle_select_broth {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    margin: 21px;
  }
  #container_select_protein, #container_select_broth {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    max-width: 1094px;
    margin-top: 39px;
  }
  .card {
    min-width: 285px;
    height: 367px;
    background-color: #FAFAED;
    filter: drop-shadow(0 -1mm 4mm rgba(233, 232, 227, 0.846));
    border-radius: 12px;
    margin: 18px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  .selected-card {
    background-color: #1820EF;
  }
  .title-card {
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    position: relative;
    top: 10px;
    right: auto;
    bottom: auto;
    left: auto;
    color: #1820EF;
  }
  .selected-title-card {
    color: #FFFFFF;
  }
  .description-card {
    color: #000000;
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    position: relative;
    top: 15px;
    right: auto;
    bottom: auto;
    left: auto;
  }
  .selected-description-card {
    color: #FFFFFF;
  }
  .price-card {
    color: #FF4E42;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    position: relative;
    top: 35px;
    right: auto;
    bottom: auto;
    left: auto;
  }
  .selected-price-card {
    color: #FFC024;
  }
  .container-widget {
    display: flex;
    justify-content: center;
    padding-top: 12px;
  }
  .widget-scroll-cards {
    display: flex;
  }
  .widget-circle-select-broths, .widget-circle-select-proteins {
    background: #E0DBBF;
    border-radius: 50%;
    margin-right: 10px;
    width: 12px;
    height: 12px;
  }
  .widget-selected {
    background-color: #FF4E42;
    border-radius: 8px;
    width: 36px;
    height: 12px;
  }
  #title_icon_client {
    color: #FFC024;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
  }
  #resp_description_message_order {
    color: #000000;
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 325px;
    height: 48px;
  }
  #container_body_sucess {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: normal;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    top: 50px;
    right: auto;
    bottom: auto;
    left: auto;
    height: auto;
  }
  #resp_title_message_order {
    color: #FF4E42;
    margin-top: 20px;
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    line-height: 40px;
  }
  #resp_description_message_order {
    margin: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}
@media (min-width: 980px) {
  #container_principal {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-image: url("/images/background.png");
    background-size: cover;
    background-position: center;
    width: auto;
    height: 768px;
  }
  .logo {
    width: 124.69px;
    height: 15.67px;
    position: absolute;
    top: 40.33px;
    right: 0px;
    bottom: 0px;
    left: 40px;
    background-image: url("/images/logo.png");
    background-size: cover;
    background-position: center;
  }
  #container_capa {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 60px;
  }
  .circulo-marrom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    background: #730000;
    border-radius: 50%;
    width: 587px;
    height: 587px;
  }
  .entregadora {
    width: 411px;
    height: 669px;
    position: relative;
    top: 13px;
    right: auto;
    bottom: auto;
    left: auto;
    background-image: url("/images/entregadora.png");
    background-size: cover;
    background-position: center;
  }
  .balaoAzul {
    width: 116px;
    height: 129px;
    position: relative;
    bottom: 234px;
    left: 66px;
    background-image: url("/images/BalaoAzul.png");
    background-size: cover;
    background-position: center;
  }
  .balaoAmarelo {
    width: 106px;
    height: 242px;
    position: relative;
    right: 56px;
    bottom: auto;
    left: auto;
    background-image: url("/images/BalaoAmarelo.png");
    background-size: cover;
    background-position: center;
  }
  .letras-amarelas {
    width: 48px;
    height: 224px;
    position: relative;
    top: 95px;
    right: 461px;
    bottom: auto;
    left: auto;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    line-height: 56px;
    color: #FFC024;
  }
  .title-go {
    width: 308px;
    position: relative;
    top: -29px;
    right: 271px;
    text-align: center;
    font-size: 160px;
    font-weight: 900;
    line-height: 100px;
    color: #FAFAED;
  }
  .description {
    position: relative;
    right: 331px;
    bottom: auto;
    left: auto;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
    width: 293px;
    line-height: 33px;
  }
  .description::before {
    content: "Enjoy a good ramen in the comfort of your house. \a Create your own ramen \a and choose your favorite \a flavour combination!";
    white-space: pre-line;
    color: #FAFAED;
  }
  #button_order_now {
    width: 213px;
    width: 213px;
    height: 60px;
    border-radius: 50px;
    position: relative;
    top: 13px;
    right: 362px;
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #1820EF;
  }
  .text-button-place-order-now {
    text-align: center;
    font-size: 14px;
    font-weight: 800;
    line-height: 20.79px;
    font-family: "FonteDefault";
    color: #FFFFFF;
    letter-spacing: 1.7799999714px;
    margin-right: 14px;
  }
  #container_principal_sucess {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: left;
  }
  #logo_sucess {
    color: #FF4E42;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    padding: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: left;
  }
  #container_capa_sucess {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  #container_capa_sucess div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #container_capa_sucess img {
    width: 300px;
    height: 339px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .image-broth-selected_sucess {
    margin: 15px;
  }
  .title-broth-selected_sucess {
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    color: #FFFFFF;
  }
  .name-broth-selected-sucess {
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    line-height: 47.52px;
    color: #FFC024;
  }
  #container_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: normal;
    flex-wrap: wrap;
    padding-top: 50px;
  }
  #title_select_broth {
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    line-height: 31px;
    color: #000000;
  }
  #subtitle_select_broth {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    margin-top: 20px;
  }
  #container_select_protein, #container_select_broth {
    display: flex;
    margin-top: 40px;
  }
  #container_select_protein::-webkit-scrollbar, #container_select_broth::-webkit-scrollbar {
    width: 0px;
  }
  .card {
    height: 400px;
    width: 272px;
    background-color: #FAFAED;
    filter: drop-shadow(0 -1mm 4mm rgba(233, 232, 227, 0.846));
    border-radius: 12px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  .selected-card {
    background-color: #1820EF;
  }
  .title-card {
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    position: relative;
    top: 10px;
    right: auto;
    bottom: auto;
    left: auto;
    color: #1820EF;
  }
  .selected-title-card {
    color: #FFFFFF;
  }
  .description-card {
    color: #000000;
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    position: relative;
    top: 15px;
    right: auto;
    bottom: auto;
    left: auto;
  }
  .selected-description-card {
    color: #FFFFFF;
  }
  .price-card {
    color: #FF4E42;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    position: relative;
    top: 35px;
    right: auto;
    bottom: auto;
    left: auto;
  }
  .selected-price-card {
    color: #FFC024;
  }
  #button_new_order_container {
    margin: 40px;
  }
  #button_order {
    width: 213px;
    height: 60px;
    border-radius: 50px;
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .button-active {
    background-color: #1820EF;
  }
  .button-disabled {
    background-color: #C5C5C5;
  }
  .text-button-place-order {
    text-align: center;
    font-size: 14px;
    font-weight: 800;
    line-height: 20.79px;
    font-family: "FonteDefault";
    color: #FFFFFF;
    letter-spacing: 1.7799999714px;
    margin-right: 14px;
  }
  #container {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    width: 100%;
  }
  #box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/images/backgroundAzul.png");
    background-size: cover;
    background-position: center;
  }
  #box2 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #container_body_sucess {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  #title_icon_client {
    color: #FFC024;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
  }
  #resp_title_message_order {
    color: #FF4E42;
    margin-top: 20px;
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    line-height: 40px;
  }
  #resp_description_message_order {
    margin: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}/*# sourceMappingURL=styles.css.map */