
#container_principal{
    //@include setContainerCapa($MaxWidthMobile, auto);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-image: url($ImageBackground);
    background-size: cover;
    background-position: center;
    width: auto;
    height: auto;
}

.logo{
    @include setWidthHeight(125px, 16px);
    margin-top: 15px;
    background-image: url($ImageLogo);
    background-size: cover; 
    background-position: center;
}

#container_capa{
    display: flex;
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    top: 60px;
    right: auto;
    bottom: auto;
    left: auto;
}

.circulo-marrom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 231.19px;
    height: 231.19px;
    background: #730000;
    border-radius: 50%;
}

.entregadora{
    width: 262.3px;
    height: 269px;
    background-image: url('/images/entregadora.png');
    background-size: cover;
    background-position: center;
}

.balaoAzul{
    width: 45.69px;
    height: 50.81px;
    left: 44px;
    background-image: url('/images/BalaoAzul.png');
    background-size: cover;
    background-position: center;
}

.balaoAmarelo{
    width: 41.75px;
    height: 95.31px;
    position: relative;
    top: 78px;
    right: 16px;
    bottom: auto;
    left: auto;
    background-image: url('/images/BalaoAmarelo.png');
    background-size: cover;
    background-position: center;
}

.letras-amarelas{
    width: 219px;
        height: 54px;
        text-align: center;
        font-size: 48px;
        font-weight: 900;
        line-height: 56px;
        /* position: absolute; */
        margin-top: 29px;
        top: 443px;
        right: auto;
        bottom: auto;
        left: auto;
        color: #FFC024;
}

.title-go{
    width: 231px;
    height: 100px;
    /* position: absolute; */
    margin-top: 12px;
    top: 552px;
    right: auto;
    bottom: auto;
    left: auto;
    text-align: center;
    font-size: 120px;
    font-weight: 900;
    line-height: 100px;
    color: #FAFAED;
}

.description{
        top: 700px;
        right: auto;
        bottom: auto;
        left: auto;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 33px;
        padding: 20px 0px 40px 0px;

    &::before{
        content: 'Enjoy a good ramen in the comfort of \A your house. Create your own ramen and \A choose your favorite flavour \A combination!';
        white-space: pre-line;
        color: $WhiteDefault;
    }
}

#button_order_now{
    display: none;
}

//Sucess page
#box{
    flex: 1;
    display: flex;
    background-image: url('/images/backgroundAzul.png');
    background-size: cover;
    background-position: center;
    align-content: center;
    justify-content: center;
}

#container_principal_sucess{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

#logo_sucess{
    color: $OrangeDefault;
    @include setFontSizeFontWeightLineHeight(24px, 900, 32px);
    padding: 20px;
}

#container_capa_sucess{
    @include setflexDirectionAlignJustifyWrap(column, center, flex-start, nowrap);
    padding-top: 10px;
}

.image-broth-selected_sucess{
    margin: 15px;
    max-width: 500px;
}

.title-broth-selected_sucess{
    @include setFontSizeFontWeightLineHeight(20px, 900, 24px);
    color: $White;
}

.name-broth-selected-sucess{
    width: 270px;
    height: 64px;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    padding: 25px 0px 47px 0px;
    top: 15px;
    right: auto;
    bottom: auto;
    left: auto;
    color: #FFC024;
}