#container_principal{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-image: url($ImageBackground);
    background-size: cover;
    background-position: center;
    width: auto;
    height: auto;
}

.logo{
    @include setWidthHeight(124.69px, 15.67px);
    @include setPositionAbsolute(40.33px, 0px, 0px, 40px);
    background-image: url($ImageLogo);
    background-size: cover; 
    background-position: center;
}

#container_capa{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 60px;
}

.circulo-marrom{
    @include setflexDirectionAlignJustifyWrap(row, center, center, nowrap);
    background: #730000; 
    border-radius: 50%;
    @include setWidthHeight(587px, 587px);
}

.entregadora{
    @include setWidthHeight(411px, 669px);
    @include setPositionRelative(13px, auto, auto, auto);
    background-image: url($ImageEntregadora);
    background-size: cover; 
    background-position: center;
}

.balaoAzul{
    width: 116px;
    height: 129px;
    position: relative;
    bottom: 234px;
    left: 66px;
    background-image: url(/public/images/BalaoAzul.png);
    background-size: cover;
    background-position: center;
}

.balaoAmarelo{
    width: 106px;
    height: 242px;
    position: relative;
    right: 56px;
    bottom: auto;
    left: auto;
    background-image: url(/public/images/BalaoAmarelo.png);
    background-size: cover;
    background-position: center;
}

.letras-amarelas{
    @include setWidthHeight(48px, 224px);
    @include setPositionAbsolute(130px, 730px, auto, auto);
    @include setFontSizeFontWeightLineHeight(48px, 900, 56px);
    color: $YellowDefault;
}

.title-go{
    width: 308px;
    position: relative;
    bottom: 390px;
    right: 223px;
    text-align: center;
    font-size: 160px;
    font-weight: 900;
    line-height: 100px;
    color: #FAFAED;
}

.description{
    @include setPositionAbsolute(367px, 483px, auto, auto);
    @include setFontSizeFontWeightLineHeight(17px, 400, 33px);
    text-align: left;
    width: 293px;
    line-height: 33px;
    &::before{
        content: 'Enjoy a good ramen in the comfort of your house. \A Create your own ramen \A and choose your favorite \A flavour combination!';
        white-space: pre-line;
        color: $WhiteDefault;
    }
}

#button_order_now{
    width: 213px;
    height: 60px;
    border-radius: 50px;
    position: relative;
    top: 127px;
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #1820EF;
}

.text-button-place-order-now{
    @include setFontSizeFontWeightLineHeight(14px, 800, 20.79px);
    font-family: 'FonteDefault';
    color: #FFFFFF;
    letter-spacing: 1.7799999713897705px;
    margin-right: 14px;
}
