#container_principal{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-image: url($ImageBackground);
    background-size: cover;
    background-position: center;
    width: auto;
    height: 768px;
}

.logo{
    @include setWidthHeight(124.69px, 15.67px);
    @include setPositionAbsolute(40.33px, 0px, 0px, 40px);
    background-image: url($ImageLogo);
    background-size: cover; 
    background-position: center;
}

#container_capa{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 60px;
}

.circulo-marrom{
    @include setflexDirectionAlignJustifyWrap(row, center, center, nowrap);
    background: #730000; 
    border-radius: 50%;
    @include setWidthHeight(587px, 587px);
}

.entregadora{
    @include setWidthHeight(411px, 669px);
    @include setPositionRelative(13px, auto, auto, auto);
    background-image: url($ImageEntregadora);
    background-size: cover; 
    background-position: center;
}

.balaoAzul{
    width: 116px;
    height: 129px;
    position: relative;
    bottom: 234px;
    left: 66px;
    background-image: url($BalaoAzul);
    background-size: cover;
    background-position: center;
}

.balaoAmarelo{
    width: 106px;
    height: 242px;
    position: relative;
    right: 56px;
    bottom: auto;
    left: auto;
    background-image: url($$BalaoAmarelo);
    background-size: cover;
    background-position: center;
}

.letras-amarelas{
    width: 48px;
        height: 224px;
        position: relative;
        top: 95px;
        right: 461px;
        bottom: auto;
        left: auto;
        text-align: center;
        font-size: 48px;
        font-weight: 900;
        line-height: 56px;
        color: #FFC024;
}

.title-go{
    width: 308px;
    position: relative;
    top: -29px;
    right: 271px;
    text-align: center;
    font-size: 160px;
    font-weight: 900;
    line-height: 100px;
    color: #FAFAED;
}

.description{
    &::before{
        content: 'Enjoy a good ramen in the comfort of your house. \A Create your own ramen \A and choose your favorite \A flavour combination!';
        white-space: pre-line;
        color: $WhiteDefault;
    }
    position: relative;
    right: 331px;
    bottom: auto;
    left: auto;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
    width: 293px;
    line-height: 33px;
}

#button_order_now{
    width: 213px;
    width: 213px;
        height: 60px;
        border-radius: 50px;
        position: relative;
        top: 13px;
        right: 362px;
        border: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        background-color: #1820EF;
}

.text-button-place-order-now{
    @include setFontSizeFontWeightLineHeight(14px, 800, 20.79px);
    font-family: 'FonteDefault';
    color: #FFFFFF;
    letter-spacing: 1.7799999713897705px;
    margin-right: 14px;
}


//Sucess page
#background_blue{
    background-image: url('/images/backgroundAzul.png');
    background-size: cover;
    background-position: center;
}

#container_principal_sucess{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: left;
}


#logo_sucess{
    color: $OrangeDefault;
    @include setFontSizeFontWeightLineHeight(24px, 900, 32px);
    text-align: left;
    padding: 20px;
}

#container_capa_sucess{
    @include setflexDirectionAlignJustifyWrap(column, center, flex-start, nowrap);
    padding-top: 10px;
}

.image-broth-selected_sucess{
    margin: 15px;
}

.title-broth-selected_sucess{
    @include setFontSizeFontWeightLineHeight(20px, 900, 24px);
    color: $White;
}

.name-broth-selected-sucess{
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    line-height: 47.52px;
    padding: 25px 0px 47px 0px;
    top: 15px;
    right: auto;
    bottom: auto;
    left: auto;
    color: #FFC024;
}